{% extends "base.html" %}

{% block content %}
<div class ="container content-section text-center">

                    <div class="">
                        <a class="identity" href="/faces">
                            <h3>VERIFY FACE IDENTITY</h3>
                        </a> 
                    </div>
                    
            <br>
                    <img src="/static/logo/tuk_big.jpg" class="img-fluid pb-2 mb-1 text-center" alt="TUK logo">
              
                

</div>
{% endblock content %}
