{% extends "base.html" %}

{% block content %}
    <h1>Candidate Information</h1>
    {% for candidate in candidate %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src=" {{ url_for('static', filename='profile_pics/' + candidate.image_file)}} ">
             <div class="media-body">
                <div class="article-metadata">
                    <h2>
                        <a href=" {{ url_for('candidate', first_name=candidate.first_name)}} " class="article-title">
                            <small class="text-muted"> {{candidate.first_name}} </small>
                            <small class="text-muted"> {{candidate.last_name}} </small>
                        </a>
                    </h2>
                    <p class="text">School: {{candidate.school}} </p>
                    <p class="text">Position: {{candidate.position}} </p>
                    <h4>
                        <p class="text">Manifesto </p> 
                        <p class="text-muted"> {{candidate.description}} </p>
                    </h4>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
