{% extends "base.html" %}

{% block content %}
<div class="container text-center">
    <h3>Candidate Information</h3>
</div>
<div class="container text-center mt-1">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for candidate in candidate %}
            <div class="col">
                <div class="card h-100">
                    <img class="rounded-circle card-img-top ms-4 mt-4" alt="Candidate Face" src=" {{ url_for('static', filename='profile_pics/' + candidate.image_file)}} ">
                    <div class="card-body">                
                        <h3 class="card-title mb-2">
                            <a href=" {{ url_for('candidate', first_name=candidate.first_name)}} " class="card-link">
                                <p class="card-text"> {{candidate.first_name}} {{candidate.last_name}}</p>
                            </a>
                        </h3>
                        <p class="card-title">School: {{candidate.school}} </p>
                        <p class="card-title">Position: {{candidate.position}} </p>
                        <h5>
                            <p class="card-subtitle text-muted">Manifesto </p> 
                            <p class="text"> {{candidate.description}} </p>
                        </h5>
                    </div>
                </div>
            </div>    
        {% endfor %}
    </div>
</div>    
 
{% endblock content %}
