{% extends "base.html" %}

{% block content %}

    <div class="container text-center">
        <h3>Vote</h3>
    </div>
    
    {% if current_user.voted == False %}
    <div class="container content-section">
                             
        <form method="POST" action="" >
            {{ form.hidden_tag() }}
            <fieldset class="'form-group">
                <legend class="border-bottom mb-4">Cast Your Vote</legend>
                <div> 
                    <p>SCHOOL: {{ current_user.school }} </p>
                </div> 
                <div class="form-group">
                    {{ form.delegate.label(class="form-control-label") }}
                    {{ form.delegate(class="form-control form-control-lg", id="delegate") }}
                </div>             
                <div class="form-group">
                    {{ form.school_rep.label(class="form-control-label") }}
                    {{ form.school_rep(class="form-control form-control-lg", id="school_rep") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info", onclick="submit_vote();") }}
                </div> 
            </fieldset>
        </form>
        {% else %}
        <div class="container content-section text-center">
        <h3>Thank You</h3>
        </div>
    </div>
    {% endif %}
    


    

{% endblock content %}

{% block script %}
<script>
   
    const data_delegate = [];
    const data_school_rep = [];
    async function submit_vote(){
        
        const delegate = document.getElementById("delegate");   
        
        const school_rep = document.getElementById("school_rep");

        const vote_school_rep = {
            school_rep: school_rep.value
        };
        data_school_rep.push(vote_school_rep);
        


        const vote_delegate = {
            delegate: delegate.value
        };
        data_delegate.push(vote_delegate);

        const response = await fetch(`${window.origin}/vote/`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(vote_school_rep, vote_delegate),
            cache: "no-cache",
            headers: new Headers({
                "Content-Type": "application/json"
            })
        });
        
        
    }           
     
    submit_vote();
    print(data_school_rep);
</script>
{% endblock %}